<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>找回密码</title>
</head>
<script src="assert/js/vue.js"></script>
<link rel="stylesheet" href="./assert/element-ui/lib/theme-chalk/index.css">
<link rel="stylesheet" href="./assert/css/common.css">
<script src="./assert/element-ui/lib/index.js"></script>
<script src="assert/js/axios.js"></script>
<style>
  .form1{
    margin: 10% auto;
    width: 30% ;
    height: 30%;
    position: relative;
    text-align: center;
    line-height: 50px;
  }
  .successButton{
    height: 20%;
    margin: 0 auto;
    text-align: right;
  }
  .title-font{
    font-size: 200%;
    font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
    color: #909399;
  }
</style>

<body class="bkImage">
<div id="root"  >
  <div class="form1" >
    <div class="title-font">修改密码</div>
    <el-form  :model="registerTable"  status-icon :rules="rules" ref="registerTable" size="medium"  label-width="80px"  >
      <el-form-item label="旧密码" prop="username">
        <el-col :span="24" icon="el-icon-lock">
          <el-input   v-model="registerTable.oldPassword" prefix-icon="el-icon-user" autocomplete="off" ></el-input>
        </el-col>
      </el-form-item>

      <el-form-item label="新密码：" prop="pass">
        <el-col :span="24">
          <el-input type="password"  v-model="registerTable.newPassword" prefix-icon="el-icon-lock" ></el-input>
        </el-col>
      </el-form-item>
      <el-form-item label="确认密码" prop="checkPass">
        <el-input type="password" v-model="registerTable.checkNewPassword" prefix-icon="el-icon-lock" autocomplete="off"></el-input>
      </el-form-item>
    </el-form>
    <div class="successButton">

      <el-button type="success"  style="width: 400px" round @click="userRegister('registerTable')">确定</el-button>
      <br/>
      <el-link type="primary" href="login.html" style="float: right" :underline="false">去登录...</el-link>


    </div>

  </div>
</div>

<script>
  const x = new Vue({
    el: '#root',
    data() {

      var checkPassword = (rule, value, callback) => {
        if (value===''){
          callback(new Error('不能为空'))
        }

      };
      var validatePass = (rule, value, callback) => {
        if (!/^[a-zA-Z0-9]{6,22}$/.test(this.registerTable.newPassword)) {
          callback(new Error('密码必须为6-22数字和英文混合而成'));
        } else {
          if (value === '') {
            callback(new Error('请输入密码'));
          } else {
            if (this.registerTable.checkNewPassword !== '') {
              this.$refs.registerTable.validateField('checkPass');
            }
            callback();
          }
        }

      };
      var validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('请输入密码'));
        } else {
          if (this.registerTable.checkNewPassword !== this.registerTable.newPassword) {
            callback(new Error('两次输入密码不一致!'));
          } else {
            callback();
          }
        }

      };

      return {
        time: 0,
        sendMessageButton: false,
        registerTable: {
          oldPassword: '',
          newPassword: '',
          checkNewPassword:'',
        },
        rules: {
          pass: [
            { validator: validatePass, trigger: 'blur' }
          ],
          checkPass: [
            { validator: validatePass2, trigger: 'blur' }
          ],
        }
      }

    },
    methods:{
      userRegister(formName){
        var _this = this;
        this.$refs[formName].validate((valid) =>{
          if (valid){
            console.log(valid);
            axios.put('/user/editPassword',this.registerTable).then(function (resp) {
              if (resp.data.code === 50001) {
                _this.$message.success(resp.data.msg||'修改成功');
                _this.userLoginOut();
              }else {
                _this.$message.error(resp.data.msg||'异常');
              }
            })
          }else {
            _this.$message.error("请根据提示重新填写！");
          }
        })
      },
      userLoginOut(){
        var userId = sessionStorage.getItem('user');
        var _this = this;
        axios.put("/user/loginOut?userId="+userId).then(function (resp) {
          if (resp.data.code===50001){
            window.location.href = "login.html";
            sessionStorage.removeItem('user');
            sessionStorage.removeItem('imageName');
            sessionStorage.removeItem('name');
            sessionStorage.removeItem('user_identity')
            location.reload();
          }else {
            _this.$message.error(resp.data.msg);
          }
        })
      },
    },
    created(){
    },
    mounted(){
    }

  })
</script>

</body>

</html>
