<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>个人财务管理系统</title>
    <script src="assert/js/vue.js"></script>
    <link rel="stylesheet" href="./assert/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./assert/css/common.css">
    <link rel="stylesheet" href="./assert/css/index.css">
    <script src="./assert/element-ui/lib/index.js"></script>
    <script src="assert/js/axios.js"></script>

</head>
<body class="bkImage">
<div id="root" style="height: 100%" >
    <el-container>
        <el-header>
            <span style="font-size: 150%; text-align: left;">个人财务管理系统</span>
            <span style="font-size: 150%; text-align: left; float: right;margin-right: 20px">
<!--                icon -->
                  <i class="el-icon-switch-button" @click="userLoginOut()"></i>
                  {{ name === null   ? '未登录':name }}
              <el-image style="width: auto; height: 40px; border:none;cursor: pointer;"
                        :src="getImage()">
                    <div slot="error" class="image-slot">
                        <img :src="squareUrl" style="width: 40px; height: 40px; border:none;" >
                    </div>
                </el-image>
              </span>
        </el-header>
<!--        header 与 main 的分界线-->
        <div style="background-color: #409EFF;height: 10px"></div>

        <el-container>
<!--            aside 侧边导航栏 -->
            <el-aside width="10%">
                <el-menu
                        default-active="2"
                        class="el-menu-vertical-demo"
                        text-color="white"
                        background-color="transparent"
                        @open="handleOpen"
                        @close="handleClose"
                        v-if="identity!=1"
                >
                    <el-menu-item index="1">
                        <template slot="title">
                            <i class="el-icon-location"></i>
<!--                            -->
                            <span @click="changeIframe('personManager.html')">个人中心</span>
                        </template>
                    </el-menu-item>
                    <el-submenu index="2">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span slot="title">收入管理</span>
                        </template>
                            <el-menu-item index="2-1" @click="changeIframe('income.html')">收入总览</el-menu-item>
                            <el-menu-item index="2-2" @click="changeIframe('income/addIncome.html')">新增收入</el-menu-item>
                            <el-menu-item index="2-3" @click="changeIframe('income/dayIncome.html')">收入日报</el-menu-item>
                    </el-submenu>

                    <el-submenu index="3">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span slot="title">消费管理</span>
                        </template>
                        <el-menu-item index="3-1" @click="changeIframe('expend.html')" >消费总览</el-menu-item>
                        <el-menu-item index="3-2" @click="changeIframe('expend/addExpend.html')">新增消费</el-menu-item>
                        <el-menu-item index="3-3" @click="changeIframe('expend/dayExpend.html')">支出日报</el-menu-item>
                    </el-submenu>
                    <el-menu-item index="8"  @click="changeIframe('orderType.html')">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span slot="title">收支类型</span>
                        </template>
                    </el-menu-item>

                    <el-submenu index="4">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span slot="title">理财计划</span>
                        </template>
                        <el-menu-item index="4-1" @click="changeIframe('plan/allPlan.html')" >计划总览</el-menu-item>
                        <el-menu-item index="4-2" @click="changeIframe('plan/addPlan.html')">新增计划</el-menu-item>
                    </el-submenu>
                    <el-submenu index="5">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span slot="title">理财日志</span>
                        </template>
                        <el-menu-item index="5-1" @click="changeIframe('financial-log/myLog.html')">我的日志</el-menu-item>
                        <el-menu-item index="5-2" @click="changeIframe('financial-log/public_log.html')">公开日志</el-menu-item>
                        <el-menu-item index="5-3" @click="changeIframe('financial-log/addLog.html')">编写日志</el-menu-item>
                    </el-submenu>

                    <el-menu-item index="6" @click="changeIframe('financialStatement.html')">
                        <template slot="title">
                            <i class="el-icon-view"></i>
                            <span slot="title" @click="changeIframe('advice/allAdvice.html')">财务报表</span>
                        </template>
                    </el-menu-item>

                    <el-menu-item index="7">
                        <template slot="title">
                            <i class="el-icon-menu"></i>
                            <span slot="title" @click="changeIframe('advice/allAdvice.html')">理财建议</span>
                        </template>
                    </el-menu-item>

                </el-menu>
<!--                管理员侧边栏 -->
                <el-menu
                        :unique-opened="false"
                        :collapse-transition="false"
                        background-color="transparent"
                        text-color="white"
                        active-text-color="red"
                        v-else
                >
<!--                    {
                            id: '1',
                            name: '修改密码',
                        //
                            url: 'changePassword.html',
                            icon: 'el-icon-s-tools'
                        },
                    -->
                    <div v-for="item in rootMenuList" :key="item.id">
                        <el-menu-item  :index="item.id" @click="menuHandle(item,false)">
<!--                            图标-->
                            <i class="iconfont" :class="item.icon"></i>

                            <span slot="title" style="font-size: 14px">
                                {{item.name}}
                            </span>
                        </el-menu-item>
                    </div>

                </el-menu>
            </el-aside>
            <el-main v-loading="loading">
                <iframe :src="iframeUrl" width="100%" height="99%" style="border: none"></iframe>
            </el-main>
        </el-container>
    </el-container>
</div>

<script>
    const x = new Vue({
        el: '#root',
        data(){
            return{
                name:'',
                squareUrl: "https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png",
                sizeList: ["large", "medium", "small"],
                iframeUrl:'',
                menuActived:'',
                goBackFlag:'',
                headTitle:'',
                loading:false,
                imageName:'',
                identity:'',
                rootMenuList:[
                    {
                        id: '1',
                        name: '修改密码',
                        url: 'changePassword.html',
                        icon: 'el-icon-s-tools'
                    },
                    {
                        id: '2',
                        name: '用户管理/提出建议',
                        url: 'userManager.html',
                        icon: 'el-icon-warning'
                    },
                    {
                        id:'3',
                        name:'日志管理',
                        url:'financial-log/logManage.html',
                        icon:'el-icon-s-comment'
                    },
                    {
                        //
                        id:'4',
                        name:'理财建议管理',
                        // url 你想跳转到哪里
                        url:'advice/allAdvice.html',
                        // 图标
                        icon:'el-icon-chat-line-square'
                    }

                ],
                menuList:[],
            }
        },
        methods:{
            getImage () {
                return '/common/download?name='+this.imageName; //访问 common/download ? 参数 : 名字 = 图片名称
            },

            userLoginOut(){
                // 获取当前这个用户的ID
                var userId = sessionStorage.getItem('user');
                var _this = this;
                // 使用axios发送请求   /user/loginOut ? 后面的叫做 查询字符串 我们也可以叫它参数  userId=xxx 请求的方法  是PUT
                axios.put("/user/loginOut?userId="+userId).then(function (resp) {
                    if (resp.data.code===50001){
                        _this.$message.success(resp.data.msg);
                        _this.iframeUrl = "login.html";
                        sessionStorage.removeItem('user');
                        sessionStorage.removeItem('imageName');
                        sessionStorage.removeItem('name');
                        sessionStorage.removeItem('user_identity')
                        location.reload();
                    }else {
                        _this.$message.error(resp.data.msg);
                    }
                })
            },
            menuHandle(item, goBackFlag) {
                var item1 = sessionStorage.getItem('user');
                if(item1!=null){
                    this.menuActived = item.id;
                    this.iframeUrl = item.url;
                    //
                    this.headTitle = item.name;
                    sessionStorage.setItem('history',item.url);
                }else {
                    this.iframeUrl = 'login.html';
                }

            },
            changeIframe(url){
                // 鉴权 是否登录了
                if(sessionStorage.getItem('user')!=null){
                    this.iframeUrl = url;// 把当前 页面的url 修改为 参数对应的url
                    sessionStorage.setItem('history',url); // 设置 session中 你当前访问的页面 你刷新过后 会回到这个页面
                }else{
                    this.iframeUrl = "login.html"; // 如果你没登录 就给你显示登录的页面
                }
            },
            handleOpen(key, keyPath) {
                console.log(key, keyPath);
            },
            handleClose(key, keyPath) {
                console.log(key, keyPath);
            }
        },
        created(){
        },
        // vue生命周期中 的mounted阶段 的钩子函数
        mounted(){
            // if(sessionStorage.getItem('history') !== undefined && sessionStorage.getItem('user') != null){
            //     this.iframeUrl = sessionStorage.getItem('history');
            // }
            //this 是指Vue整个Vue组件 iframeUrl - > 相当于vue里面的一个属性
            var _this = this;
            if(sessionStorage.getItem("user_identity") == 1){
                _this.iframeUrl = "changePassword.html";
            }else if(sessionStorage.getItem("user_identity") == 0){
                // js 里面特有的 未定义类型 sout(undefined);
                if(sessionStorage.getItem('history') !== undefined && sessionStorage.getItem('user') != null){
                    // 欢迎页面 在登录里面
                    this.iframeUrl = sessionStorage.getItem('history');
                }else{
                    // 这一段代码已经失去效果
                    _this.iframeUrl = "personManager.html";
                }
            }else{
                _this.iframeUrl = "login.html";
            }

            setInterval(function () {

                _this.identity = sessionStorage.getItem("user_identity"); // 不断的获取 当前用户的身份 获取是本地进行的 是不消耗服务器资源的
                _this.name = _this.identity == 1? '管理员' : sessionStorage.getItem('name'); // 用户名 是管理员 直接显示管理员  否则 去session获取
                _this.imageName =_this.identity == 1 ? 'root' : sessionStorage.getItem('imageName'); //
                _this.getImage();
            },1000)
            setInterval(function (){

            },1000)
        }

    })
</script>
</body>
</html>