<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册账号</title>
    <script src="assert/js/vue.js"></script>
    <link rel="stylesheet" href="./assert/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./assert/css/common.css">
    <script src="./assert/element-ui/lib/index.js"></script>
<!--    ajax 异步请求库 -->
    <script src="assert/js/axios.js"></script>
    <style>
        .form1{
            /*居中 */
            margin: 10% auto;
            /*宽度*/
            width: 30% ;
            /*高度*/
            height: 30%;
            /*位置 相对位置*/
            position: relative;
            /*文本对齐  居中对齐*/
            text-align: center;
            /*行高*/
            line-height: 50px;
        }

        .successButton{
            height: 20%;
            margin: 0 auto;
            text-align: right;
        }
        .title-font{
            font-size: 200%;
            font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
            color: #28384f;
        }
    </style>
</head>
<body class="loginBKImage">
<div id="root">
    <div class="form1" style="">
        <div class="title-font" >个人财务管理系统</div>
<!--        rules 约束的规则 也是一个对象数组 rules的依赖  -->
        <el-form label-width="80px" :model="registerTable" size="medium" :rules="rules"  ref="registerTable"  >
<!--             prop 约束 -->
            <el-form-item  prop="username">
                <span slot="label" style="color: #28384f">
                账号：
               </span>
                <el-col :span="24" icon="el-icon-lock">
                    <el-input   v-model="registerTable.username" prefix-icon="el-icon-user" ></el-input>
                </el-col>
            </el-form-item>

            <el-form-item prop="password" >
                <span slot="label" style="color: #28384f">
                密码：
               </span>
                <el-col :span="24">
                    <el-input v-model="registerTable.password" prefix-icon="el-icon-lock" ></el-input>
                </el-col>
            </el-form-item>
            <el-form-item prop="phoneNum" >
                <span slot="label" style="color: #28384f">
                手机号：
               </span>
                <el-col :span="24">
                    <el-input v-model="registerTable.phoneNum" prefix-icon="el-icon-phone-outline" ></el-input>
                </el-col>
            </el-form-item>
            <el-form-item  prop="email" >
                <span slot="label" style="color: #28384f">
                邮箱：
               </span>
                <el-col :span="18">
                    <el-input v-model="registerTable.email" prefix-icon="el-icon-message" ></el-input>
                </el-col>
                <el-col :span="6">
                    <el-link type="info" @click="sendMessageCode()" style="float: right" :disabled='sendMessageButton' :underline="false">获取验证码 {{time!=0?time+'s':''}}</el-link>
                </el-col>
            </el-form-item>
            <el-form-item label="请输入验证码" prop="code" >
                <span slot="label" style="color: #28384f">
                验证码
               </span>
                <el-col :span="24">
                    <el-input v-model="registerTable.code"  ></el-input>
                </el-col>
            </el-form-item>

        </el-form>
        <div class="successButton">
<!--            他接受的方法名 是一个对象的名字 -->
            <el-button type="success"  style="width: 400px" round @click="userRegister('registerTable')">注册</el-button>
            <br/>
            <el-link type="primary" href="login.html" style="float: right" :underline="false">去登录...</el-link>
        </div>

    </div>
</div>

<script>
    const x = new Vue({
        el: '#root',
        data(){
            var checkUsername = (rule, value, callback) => {
                // 11位纯数字
                var reg = /^\d{11}$/;
                if (value===''){
                    callback(new Error('不能为空'))
                }
                if (!reg.test(value)){
                    return callback(new Error('账号必须为11位纯数字'));
                }
                callback();

            };
            var checkPassword = (rule, value, callback) => {
                if (value===''){
                    callback(new Error('不能为空'))
                }
                if (!/^[a-zA-Z0-9]{6,22}$/.test(value)) {
                    callback(new Error('密码必须为6-22数字和英文混合而成'));
                }
                callback();

            };
            var checkEmail = (rule, value, callback) => {
                var _this = this;
                if (value===''){
                    callback(new Error('不能为空'));
                    _this.sendMessageButton = true;
                }
                // 邮箱的正则表达式
                var emailRegExp=/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;

                if (!emailRegExp.test(value)) {
                    callback(new Error('邮箱格式错误'));
                    // true 的时候
                    _this.sendMessageButton = true;
                }else {
                    callback();
                    // TODO 发送验证码等待时间
                    if(_this.time == 0 ){
                        // false的时候 是可以点击的
                        _this.sendMessageButton = false;
                    }

                }
            };
            var checkCode=(rule, value, callback)=>{
                if (value===''){
                    callback(new Error('不为空'));
                }
                var reg = /^\d{6}$/;
                if (!reg.test(value)) {
                    callback(new Error('必须为六位纯数字'))
                }else {
                    callback()
                }
            };
            var checkPhoneNum = (rule, value, callback) => {
                if(value ===''){
                    callback(new Error('不为空'));
                }
                if (!/^((12[0-9])|(13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\d{8}$/.test(value)) {
                    callback(new Error('手机号格式不正确'));
                }
                callback();
            };
            return{
                registerEmail:'',
                time:0,
                sendMessageButton:false,
                registerTable:{
                    username:'',
                    password:'',
                    email:'',
                    phoneNum:'',
                    code:''
                },
                rules: {
                    username: [
                        { validator: checkUsername, trigger: 'blur' }
                    ],
                    password: [
                        { validator: checkPassword, trigger: 'blur' }
                    ],
                    email: [
                        { validator: checkEmail, trigger: 'blur' }
                    ],
                    code:[
                        { validator:checkCode,trigger: 'blur'}
                    ],
                    phoneNum: [
                        {validator: checkPhoneNum, trigger:'blur'}
                    ],
                }
            }

        },
        methods:{
            userRegister(formName){
                var _this = this;
                if(this.registerEmail !== this.registerTable.email){
                    this.$message.error("前后邮箱不一致!!!!");
                    return;
                }
                //  userRegisterTable error
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post('/user/register',this.registerTable).then(function (resp) {
                            if (resp.data.code === 40001) {
                                _this.$message.success(resp.data.msg||'注册成功');
                            }else {
                                _this.$message.error(resp.data.msg||'注册失败');
                            }
                        })
                    } else {
                        return false;
                    }
                });

            },
            getCode(){
                var _this = this;
                axios.get('/common/email?username=' + this.registerTable.username + '&email=' + this.registerTable.email).then(function (resp) {
                    if (resp.data.code === 30001) {
                        _this.$message.success(resp.data.msg);
                    }else {
                        _this.$message.error(resp.data.msg);
                    }
                })
            },
            sendMessageCode(){
                if(this.registerTable.email ===''){
                    this.$message.error("邮箱不能为空");
                    return;
                }
                var _this = this;
                // registerEmail 相当于一个暂时的存储邮箱数据的
                this.registerEmail = this.registerTable.email;
                //time 禁止发送邮件的时间
                _this.time = 60;
                // 禁止
                this.sendMessageButton = true;
                //获取验证码
                this.getCode();
                // 设置一个定时器 循环执行  让禁止的时间 -1
                const x = setInterval(function () {
                    _this.time--;
                    //再判断 这一次 -1 之后 是不是归零了
                    if (_this.time === 0){
                        //如果归零了 我们就设置按钮 是启用的
                        _this.sendMessageButton = false;
                        //清除这个定时器
                        clearInterval(x);
                    }
                    //每秒执行一次
                },1000)
            }
        },

        created(){
        },
        mounted(){
        }

    })
</script>
</body>
</html>