<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册账号</title>
    <<script src="assert/js/vue.js"></script>
    <link rel="stylesheet" href="./assert/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./assert/css/common.css">
    <script src="./assert/element-ui/lib/index.js"></script>
    <script src="assert/js/axios.js"></script>
    <style>
        .form1{
            margin: 10% auto;
            width: 30% ;
            height: 30%;
            position: relative;
            text-align: center;
            line-height: 50px;
        }
        .successButton{
            height: 20%;
            margin: 0 auto;
            text-align: right;
        }
        .title-font{
            font-size: 200%;
            font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
            color: #909399;
        }
    </style>
</head>
<body>
<div id="root"  >
    <div class="form1">
        <div class="title-font">个人财务管理系统</div>
        <el-form label-width="80px" :model="registerTable" size="medium" :rules="rules"  ref="registerTable"  >
            <el-form-item label="账号：" prop="username">
                <el-col :span="24" icon="el-icon-lock">
                    <el-input   v-model="registerTable.username" prefix-icon="el-icon-user" ></el-input>
                </el-col>
            </el-form-item>

            <el-form-item label="密码：" prop="password" >
                <el-col :span="24">
                    <el-input v-model="registerTable.password" prefix-icon="el-icon-lock" ></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="手机号：" prop="phoneNum" >
                <el-col :span="24">
                    <el-input v-model="registerTable.phoneNum" prefix-icon="el-icon-phone-outline" ></el-input>
                </el-col>
            </el-form-item>
            <el-form-item label="邮箱：" prop="email" >
                <el-col :span="18">
                    <el-input v-model="registerTable.email" prefix-icon="el-icon-message" ></el-input>
                </el-col>
                <el-col :span="6">
                    <el-link type="info" @click="sendMessageCode()" style="float: right" :disabled='sendMessageButton' :underline="false">获取验证码 {{time!=0?time+'s':''}}</el-link>
                </el-col>
            </el-form-item>
            <el-form-item label="请输入验证码" prop="code" >
                <el-col :span="24">
                    <el-input v-model="registerTable.code"  ></el-input>
                </el-col>
            </el-form-item>




        </el-form>
        <div class="successButton">

            <el-button type="success"  style="width: 400px" round @click="userRegister('registerTable')">注册</el-button>
            <br/>
            <el-link type="primary" href="login.html" style="float: right" :underline="false">去登录...</el-link>


        </div>

    </div>
</div>

<script>
    const x = new Vue({
        el: '#root',
        data(){
            var checkUsername = (rule, value, callback) => {
                var reg = /^\d{11}$/;
                if (value===''){
                    callback(new Error('不能为空'))
                }
                if (!reg.test(value)){
                    return callback(new Error('账号必须为11位纯数字'));
                }
                callback();

            };
            var checkPassword = (rule, value, callback) => {
                if (value===''){
                    callback(new Error('不能为空'))
                }
                if (!/^[a-zA-Z0-9]{6,22}$/.test(value)) {
                    callback(new Error('密码必须为6-22数字和英文混合而成'));
                }
                callback();

            };
            var checkEmail = (rule, value, callback) => {
                var _this = this;
                if (value===''){
                    callback(new Error('不能为空'));
                    _this.sendMessageButton = true;
                }
                var emailRegExp=/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/;

                if (!emailRegExp.test(value)) {
                    callback(new Error('邮箱格式错误'));
                    _this.sendMessageButton = true;
                }else {
                    callback();
                    if(_this.time == 0 ){
                        _this.sendMessageButton = false;
                    }

                }
            };
            var checkCode=(rule, value, callback)=>{
                if (value===''){
                    callback(new Error('不为空'));
                }
                var reg = /^\d{6}$/;
                if (!reg.test(value)) {
                    callback(new Error('必须为六位纯数字'))
                }else {
                    callback()
                }
            };
            var checkPhoneNum = (rule, value, callback) => {
                if(value ===''){
                    callback(new Error('不为空'));
                }
                if (!/^((12[0-9])|(13[0-9])|(14[5|7])|(15([0-3]|[5-9]))|(18[0,5-9]))\d{8}$/.test(value)) {
                    callback(new Error('手机号格式不正确'));
                }
                callback();

            };
            return{
                registerEmail:'',
                time:0,
                sendMessageButton:false,
                registerTable:{
                    username:'',
                    password:'',
                    email:'',
                    phoneNum:'',
                    code:''
                },
                rules: {
                    username: [
                        { validator: checkUsername, trigger: 'blur' }
                    ],
                    password: [
                        { validator: checkPassword, trigger: 'blur' }
                    ],
                    email: [
                        { validator: checkEmail, trigger: 'blur' }
                    ],
                    code:[
                        { validator:checkCode,trigger: 'blur'}
                    ],
                    phoneNum: [
                        {validator: checkPhoneNum, trigger:'blur'}
                    ],
                }
            }

        },
        methods:{
            userRegister(formName){
                var _this = this;
                if(this.registerEmail !== this.registerTable.email){
                    this.$message.error("前后邮箱不一致!!!!");
                    return;
                }
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        axios.post('/user/register',this.registerTable).then(function (resp) {
                            if (resp.data.code === 40001) {
                                _this.$message.success(resp.data.msg||'注册成功');
                            }else {
                                _this.$message.error(resp.data.msg||'注册失败');
                            }
                        })
                    } else {
                        return false;
                    }
                });

            },
            getCode(){
                var _this = this;
                axios.get('/common/email?username=' + this.registerTable.username + '&email=' + this.registerTable.email).then(function (resp) {
                    if (resp.data.code === 30001) {
                        _this.$message.success(resp.data.msg);
                    }else {
                        _this.$message.error(resp.data.msg);
                    }
                })

            },
            sendMessageCode(){
                if(this.registerTable.email ===''){
                    this.$message.error("邮箱不能为空");
                    return;
                }
                var _this = this;
                this.registerEmail = this.registerTable.email;
                _this.time = 60;
                this.sendMessageButton = true;
                this.getCode();
                const x = setInterval(function () {
                    _this.time--;
                    if (_this.time === 0){
                        _this.sendMessageButton = false;
                        clearInterval(x);
                    }
                },1000)
            }
        },
        created(){
        },
        mounted(){
        }

    })
</script>
</body>
</html>