<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../assert/js/vue.js"></script>
    <link rel="stylesheet" href="../assert/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../assert/css/common.css">
    <link rel="stylesheet" href="../assert/common/upload.css">
    <script src="../assert/element-ui/lib/index.js"></script>
    <script src="../assert/js/axios.js"></script>
    <script src="../assert/js/order.js"></script>
</head>
<body class="bkImage">
<div id="root">
    <el-page-header @back="goBack" content="编辑日志" style="margin: 20px;height: 20px">
    </el-page-header>
    <el-form :model="form" ref="form"  style="margin: 0 auto" >
        <el-row>
            <el-col :span="8">
                <el-form-item label="日志标题" :label-width="formLabelWidth" >
                    <el-input v-model="form.title" autocomplete="off" ></el-input>
                </el-form-item>
            </el-col>
        </el-row>


        <el-form-item label="隐私性" :label-width="formLabelWidth" >
            <el-switch
                    v-model="form.visible"
                    active-text="公开"
                    inactive-text="私有">
            </el-switch>
        </el-form-item>
        <el-row>
            <el-col :span="8">
                <el-form-item label="正文" :label-width="formLabelWidth">
                    <el-input v-model="form.logText" autocomplete="off" type="textarea"></el-input>
                </el-form-item>
            </el-col>
        </el-row>

    </el-form>
    <el-row>
        <el-col :span="5" style="height: 32px"></el-col>
        <el-col :span="5" >
            <el-button @click="clearDialog()">清空</el-button>
            <el-button type="primary" @click="confirmEdit()">确 定</el-button>
        </el-col>
        <el-col :span="4" style="height: 32px"></el-col>
        <el-col :span="4" style="height: 32px"></el-col>

    </el-row>

</div>

<script>
    const x = new Vue({
        el: '#root',
        data(){
            return{
                formLabelWidth:'120px',
                form:{},
                id:'',

            }
        },
        methods:{
            goBack(){
                window.location.href='myLog.html';
            },
            getFormData(){
              var _this = this;
              axios.get("/financial?id="+this.id).then(function (resp) {
                  if(resp.data.code === 10001){
                      _this.form = resp.data.data;
                  }else{
                      _this.$message.error(resp.data.msg || '接口错误')
                  }

              })
            },
            confirmEdit(){
                var _this = this;
                axios.put("/financial",this.form).then(function (resp) {
                    if(resp.data.code === 50001){
                        _this.$message.success(resp.data.msg || '修改成功');
                        _this.getFormData();
                    }else{
                        _this.$message.error(resp.data.msg || '接口错误')
                    }
                })
            },
            clearDialog(){
                this.form = {};
            },
            getUrlSearchParams(){
                let str = window.location.search;
                let arr = str.split("=");

                this.id = arr[1];
            },

        },
        created(){
        },
        mounted(){
            this.getUrlSearchParams();
            this.getFormData();
        }

    })
</script>

</body>
</html>