<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>myLog</title>
    <script src="../assert/js/vue.js"></script>
    <link rel="stylesheet" href="../assert/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../assert/css/common.css">
    <link rel="stylesheet" href="../assert/common/upload.css">
    <script src="../assert/element-ui/lib/index.js"></script>
    <script src="../assert/js/axios.js"></script>
    <script src="../assert/js/order.js"></script>
    <script src="../assert/js/advice.js"></script>
</head>
<body>
<div id="logRoot">
    <div style="margin-top: 20px;margin-bottom:20px;background-color: white;width: auto;height: 20px;">
        <div style="margin: 20px;width: 100px;height: 20px">
            <i class="el-icon-s-finance" style="margin-left: 10px;margin-right: 10px"></i>理财建议
        </div>
    </div>
    <el-col :span="2" style="height: 10px">

    </el-col>
<!--    <el-col :span="3">-->
<!--        <el-input v-model="searchName" placeholder="请输入计划名称"></el-input>-->
<!--    </el-col>-->
<!--    <el-col :span="2">-->
<!--        <el-button type="primary" icon="el-icon-search" @click = "initPage()">搜索</el-button>-->
<!--    </el-col>-->
    <el-col :span="4">
        <el-button @click="handleDelete('批量', null)" type="danger">批量删除</el-button>
    </el-col>
    <template>
        <el-table
                :data="tableData"
                style="width: 100%"
                @selection-change="handleSelectionChange"
                ref="selectionTable"
        >
            <el-table-column
                    type="selection"
                    width="180">
            </el-table-column>
            <el-table-column
                    type="index"
                    width="180"
                    label="序号">
            </el-table-column>
            <el-table-column
                prop="title"
                label="标题"
                width="300">
            </el-table-column>
            <el-table-column
                prop="text"
                label="正文"
                width="400">
            </el-table-column>
            <el-table-column
                    label="所属用户"
                    width="180"
                    prop="userName"
                    v-if="identity==1"
            >
            </el-table-column>

            <el-table-column
                    label="操作"
                    width="180"
            >
                <template slot-scope="scope">
<!--                    <el-button @click="handleEdit(scope.row.id)" type="text" size="small">编辑</el-button>-->
                    <el-button @click="handleDelete('单删',scope.row.id)" type="text" size="small">删除</el-button>
                </template>
            </el-table-column>
        </el-table>
        <el-row>
            <el-col :span="8" style="height: 32px">
            </el-col>
            <el-col :span="8">
                <el-pagination
                        class="pageList"
                        :page-sizes="[5, 10, 20, 40]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="counts"
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                ></el-pagination>
            </el-col>
            <el-col :span="8" style="height: 32px">

            </el-col>

        </el-row>

    </template>
</div>


<script>
    new Vue ({
        el:"#logRoot",
        data() {
            return {
                tableData: [],
                searchName:'',
                identity:'',
                input: '', // 输入跳转到哪一页
                counts: 0, // 总共多少数据
                page: 1,// 当前是多少页
                pageSize: 5, // 每页多少数据，
                checkList:'', // 多选

            }
        },
        methods:{
            initPage(){
                var _this = this;
                getAdvicePage( sessionStorage.getItem('user_identity') == 1 ? 'root' : sessionStorage.getItem('user'),this.page,this.pageSize).then((resp) => {
                    if(resp.data.code === 10001){
                        _this.tableData = resp.data.data.records;
                        _this.counts = resp.data.data.total;
                    }else{
                        _this.$message.error(resp.data.msg || '接口错误');
                    }
                })
            },

            handleDelete(type,id) {
                if (type === '批量' && id === null) {
                    if (this.checkList.length === 0) {
                        return this.$message.error('请选择删除对象')
                    }
                }
                this.$confirm('确认删除该记录, 是否继续?', '确定删除', {
                    'confirmButtonText': '确定',
                    'cancelButtonText': '取消',
                }).then(() => {
                    axios.delete("/advice?ids="+ (type ==='批量' ? this.checkList.join(",") : id)).then(res => {
                        if (res.data.code === 50001) {
                            this.$message.success('删除成功！')
                            this.initPage();
                        } else {
                            this.$message.error( '操作失败')
                        }
                    }).catch(err => {
                        this.$message.error('请求出错了：' + err)
                    })
                })
            },

            handleSizeChange (val) {
                this.pageSize = val
                this.initPage()
            },
            handleCurrentChange (val) {
                this.page = val
                this.initPage()
            },


            handleSelectionChange(val) {
                let checkArr = []
                val.forEach((n) => {
                    checkArr.push(n.id)
                })
                this.checkList = checkArr
            },


            timestampToTime(timestamp) {
                // 时间戳为10位需*1000，时间戳为13位不需乘1000
                var date = new Date(timestamp);
                var Y = date.getFullYear() + "-";
                var M =
                        (date.getMonth() + 1 < 10
                                ? "0" + (date.getMonth() + 1)
                                : date.getMonth() + 1) + "-";
                var D = (date.getDate() < 10 ? "0" + date.getDate() : date.getDate()) + " ";

                return Y + M + D;
            }
        },
        created(){
            this.initPage();
            this.identity = sessionStorage.getItem('user_identity');
        }
    })
</script>

</body>
</html>